__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
bin/
lib/
include/
node_modules/
.DS_Store
auth_info/
WhatsApp_API/
target_repo/
target_repo_workspace/
launcher.py
mas_workspace/
mas_config.json
